<img src="https://pandas.pydata.org/static/img/pandas.svg" width="250">

## <center> Intro to Dataframes

In [ ]:
import pandas as pd

In [ ]:
scores = {"name":['Ray','Japhy','Zosa'],
          "city":['San Francisco','San Francisco','Denver'],
          "score":[75,92,94]
         }

In [ ]:
df = pd.DataFrame(scores)

In [ ]:
df

    name           city  score
0    Ray  San Francisco     75
1  Japhy  San Francisco     92
2   Zosa         Denver     94

In [ ]:
df['score']

0    75
1    92
2    94
Name: score, dtype: int64

In [ ]:
df['name_city'] = df['name'] + '_' + df['city']

In [ ]:
df[df['score']>90]

    name           city  score            name_city
1  Japhy  San Francisco     92  Japhy_San Francisco
2   Zosa         Denver     94          Zosa_Denver